@model SDHCC.Identity.Models.UserModels.SDHCCUserPass
<input type="hidden" name="Id" value="@Model.Id" />
@Html.HiddenFor(b => b.AssemblyName)
@Html.HiddenFor(b => b.FullType)
@{ await Html.RenderPartialAsync("Users/_RolesCheck", Model.Id); }
<div class="form-group">
  @if (String.IsNullOrEmpty(Model.Id))
  {
    <label>Name</label>
    <input type="text" class="form-control" name="UserName" value="@Model.UserName" required />
    <label>Email</label>
    <input type="text" class="form-control" name="Email" value="@Model.Email" required />
    <label>Password</label>
    <input type="text" class="form-control" name="PasswordHash" value="" required />

  }
  else
  {
    <label>Name</label>
    <input type="text" class="form-control" name="UserName" readonly value="@Model.UserName" />
  }

</div>

@{ await Html.RenderPartialAsync("AdminInputs/_PropertiesEdit", Model);}
<button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>