@model SDHCC.DB.Content.ContentPropertyIndex
@Html.Hidden("Properties[" + Model.Index.ToString() + "].Key", Model.Property.Key)
@Html.Hidden("Properties[" + Model.Index.ToString() + "].ValueType", Model.Property.ValueType)
@Html.Hidden("Properties[" + Model.Index.ToString() + "].EditorType", Model.Property.EditorType)
@{
    var inputName = "Properties[" + @Model.Index.ToString() + "].Value";
}
<div class="form-group">
    <label>@Model.Property.Title</label>


    @if (Model.Property.EditorType == SDHCC.EnumInputType.TextArea)
    {
        <textarea class="form-control" rows="5" name="@inputName">@Model.Property.Value</textarea>
    }
    @if (Model.Property.EditorType == SDHCC.EnumInputType.Text)
    {
        <input type="text" class="form-control" name="@inputName" value="@Model.Property.Value" />
    }
</div>