@model SDHCC.DB.Content.ContentPropertyIndex
@Html.Hidden("Properties[" + Model.Index.ToString() + "].Key", Model.Property.Key)
@Html.Hidden("Properties[" + Model.Index.ToString() + "].ValueType", Model.Property.ValueType)
@Html.Hidden("Properties[" + Model.Index.ToString() + "].EditorType", Model.Property.EditorType)
<p>
    @Model.Property.Title
    @if(Model.Property.EditorType == SDHCC.EnumInputType.TextArea)
    {
        <textarea name="Properties[@Model.Index.ToString()].Value">@Model.Property.Value</textarea>
    }
    @if(Model.Property.EditorType == SDHCC.EnumInputType.Text)
    {
    <input type="text" name="Properties[@Model.Index.ToString()].Value" value="@Model.Property.Value" />
    }
</p>
@**@