@model ContentPostModel
@Html.Hidden("Id", Model.Id)
@Html.Hidden("ParentId", Model.ParentId)
@Html.Hidden("FullType", Model.FullType)
@Html.Hidden("AssemblyName", Model.AssemblyName)
@Html.Hidden("CreateTime", Model.CreateTime)
@Html.Hidden("SortOrder", Model.SortOrder)
@{
    var index = 0;
}
<div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" name="Name" value="@Model.Name" required />
</div>
@foreach (var property in Model.Properties)
{
    await Html.RenderPartialAsync("AdminInputs/_AdminInput", new ContentPropertyIndex(property, index));
    index++;
}

<button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>