@model ContentPostModel
@{
    ViewData["Title"] = "Content";
    Layout = "_Layout_Content";
    var contentId = Model != null ? Model.ParentId : "";
}
@section breadcrumb{
    @{ await Html.RenderPartialAsync("_BreadCrumbContent", contentId);}
}
<div class="card">
    <div class="card-block">
        <h4>Default Basic Forms</h4>
        <form action="@Url.Action("Create","Page",new { @area="Admin" })" class="form-horizontal m-t-40" method="post" enctype="multipart/form-data">
            @Html.Hidden("Id", Model.Id)
            @Html.Hidden("ParentId", Model.ParentId)
            @Html.Hidden("FullType", Model.FullType)
            @Html.Hidden("AssemblyName", Model.AssemblyName)
            @Html.Hidden("CreateTime", Model.CreateTime)
            @Html.Hidden("SortOrder", Model.SortOrder)
            @{
                var index = 0;
            }
            @foreach (var property in Model.Properties)
            {
                await Html.RenderPartialAsync("AdminInputs/_AdminInput", new ContentPropertyIndex(property, index));
                index++;
            }

            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
        </form>
        
    </div>
    
</div>
